@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400&display=swap');

/* general styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: #532e28;
    background-color: #fcfbf6;
    margin: 0;
    padding: 0;
}

h2, h3 {
    font-family: 'Poppins', sans-serif;
    color: #a3764d;
}

/* header */
header {
    text-align: center;
    display: flex;
    padding: 10px 50px;
    background-color: #E0DDD6;
    box-shadow: 0 5px 15px rgba(0, 0,0 , 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
}

header img {
    width: 100px;
    padding: 0;
    margin: 0;
}

header h2 {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    color:#532e28;
}

/* wrapper */
#wrapper {
    width: 95%;
    max-width: 1500px;
    min-width:600px;
    display: flex;
    background-color: #e0ddd6;
    margin: 1% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#wrapper h2 {
  color: #532e28;
}

#leftColumn {
    width: 25%;
    padding: 5px;
    border-right: 1px solid #91937B;
    color:#532e28;
}

nav {
    text-align: left;
    font-size: 18px;
    color:#532e28;
    padding-right: 20px;
}

nav li {
    list-style: none;
    font-weight: bold;
    padding-bottom: 10px;
}

nav i {
    color: #a3764d;
    padding-right: 10px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: #a3764d;
}

nav li a.active {
    color: #532e28;
}

nav a.active i {
    color: #532e28;
}

#rightColumn {
    padding-left: 30px;
}

#rightColumn h2 {
    color:#532e28;
    margin-bottom: 20px;
}

i {
    padding-right: 10px;
}

/* footer */
footer {
    background: linear-gradient(315deg, #E0DDD6, #91937B);
    width: 100%;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 10px;
    clear: right;
}